/* .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: absolute;
    top: 17rem;
    left: 31rem;
}


.fixed {
    font-size: 34px;
}

.wrapper,
.moving {
    margin-left: 12px;
    height: 66px;
    line-height: 66px;
    overflow: hidden;
}



.moving li {
    list-style: none;
    color: rgb(243, 248, 248);
    font-size: 24px;
    font-weight: 100%;
    animation: slide 4.6s steps(3) infinite;
    top: 0;
    position: relative;
}


@keyframes slide {
    100% {
        top: -198px;

    }

}

.moving li span {
    position: relative;

}

.moving li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 60px;
    width: 100%;
    /* background: #fff; */
    /* background: #9dbbbb3b;
    border-left: 2px solid rgba(158, 151, 151, 0.151);
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;

    }
}  */